.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.like-button {
  background-color: gray;
  border: none;
  cursor: pointer; 
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease; 
  color: white; 
}

.like-button.liked {
  background-color: green; 
  color: white; 
}

.dislike-button {
  background-color: gray;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
  color: white; 
}

.dislike-button.disliked {
  background-color: red; 
  color: white; 
}
